.explore-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.explore-menu h1 {
  color: #262626;
  font-weight: 500;
  /* color: red; */
}

.explore-menu-text {
  max-width: 75%;
}
.explore-menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  text-align: center;
  margin: 20px 0px;
  overflow-x: scroll;
  /* overflow-x: auto; */
}
.explore-menu-list ::-webkit-scrollbar {
  display: none;
}
.explore-menu-list-item {
  min-width: 120px; /* card-এর fixed width */
  flex-shrink: 0;
  text-align: center;
}
.explore-menu-list-item img {
  width: 7.5vw;
  min-width: 80px;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.2s;
}
.explore-menu-list-item p {
  margin-top: 10px;
  color: #747474;
  font-size: max(1.4vw, 15px);
  cursor: pointer;
}

.explore-menu hr {
  margin: 10px 0px;
  height: 2px;
  background-color: #e2e2e2;
  border: none;
}

.explore-menu-list-item .active {
  border: 4px solid #d97706;
  padding: 2px;
}
